body {
  background-color: #111;
  color: #d90;
  font-family: 'Inknut Antiqua', serif;
}

h1 { font-size: 4em; }
p { font-size: 2em; }
a { color: #ddbc00; }
a:hover { color: #c60; }

#wrap {
  width: 800px;
  margin: auto;
}

#wrapper {
  width: 2500px;
  height: 200px;
}
#chart {background-color:#fff;}
.chart {
  width: 2000px;
  height: 300px;
  background-color:#fff;
}

.chart text {
  fill: #333;
  font: 10px sans-serif;
  text-anchor: end;
}

.graph {
  fill: #fff;
}
.day {
  fill: #c60;
  stroke: #111;
}
.date {
  font-size: 2em;
}

.bar {
  fill: #d90;
  stroke: #333;
  color: #333;
}
.candy {
  stroke: #333;
  fill: #d90;
}
.time {
  fill: #222;
  font-size: 1em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #d90;
  shape-rendering: crispEdges;
}

.bumper {
  fill: none;

}
